/* RESET */

* {
  margin: 0;
  box-sizing: border-box;
}

.page-body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.page-header {
  background-color: white;
  padding: 20px;
  border-top: 5px solid dimgray;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 3px rgb(0, 0, 0, 0.1);
}

.film-details {
  background-color: honeydew;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.bold-text {
    color: tomato;
}

.details-summary {
    cursor: pointer;
    font-weight: bold;
    color: tomato;
}

.title-group {
    margin: 20px 0;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.main-title {
    color: tomato;
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: gray;
    font-style: italic;
}