@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=New+Rocker&family=Vazirmatn:wght@100..900&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  color: black;
  background-color: whitesmoke;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  /* 
  the following is same as `margin: 0 auto;`
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; 
  */
}

.page-header {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-top: 5px solid dimgray;
  /* 
  the following is same as `border-top: 5px solid dimgray;`
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: dimgray; 
  */
}

.film-details {
  background-color: honeydew;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.film-details[open] {
  background-color: lavender;
  padding: 20px;
}

.bold-text {
  color: tomato;
}

.details-summary {
  cursor: pointer;
  font-weight: bold;
  color: tomato;
}

.title-group {
  margin: 20px 0;
  text-align: center;
}

.main-title {
  color: tomato;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.subtitle {
  color: gray;
  font-style: italic;
}

.film-poster {
  text-align: center;
}

.poster-caption {
  color: dimgray;
  font-style: italic;
}

.film-poster-image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publish-date {
  display: block;
  text-align: center;
  color: gray;
  margin: 10px 0;
}

.wiki-link {
  color: tomato;
  text-decoration: none;
  transition: color 0.3s;
}

.wiki-link:hover {
  color: dimgray;
  text-decoration: underline;
}

.content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-title,
.article-title {
  color: tomato;
  margin: 25px 0;
  border-bottom: 2px solid dimgray;
}

.content-list {
  margin-left: 25px;
}

.content-item {
  margin-bottom: 10px;
}

.content-item:hover::after {
  content: '👇';
}

.article-text:first-letter {
  font-size: 28px;
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

.highlight {
  background-color: lightgreen;
  padding: 2px 5px;
  border-radius: 3px;
}

.text-emphasis {
  color: gray;
}

.quotation-section {
  background-color: gainsboro;
  padding: 15px;
  border-left: 5px solid tomato;
  margin: 20px 0;
  border-radius: 0 8px 8px 0;
}

.italic-text {
  font-style: italic;
}

.quote-author {
  color: gray;
}

.divider {
  border: none;
  height: 2px;
  background: gray;
  margin: 30px 0;
}

.page-footer {
  text-align: center;
  padding: 20px;
  color: gray;
}
